%p#notice= notice
%h1 Homes
%table
  %thead
    %tr
      %th{:colspan => "1"}
  %tbody
    - @suggestions.each do |suggestion|
      %tr
        %td= link_to 'Show', home
%br/
= link_to 'New Home', new_suggestion_path
